* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
    scroll-behavior: smooth !important;
    transition: .3s;
}
html{
    scroll-behavior: smooth !important;
}
.hero {
  height: 100vh;
  width: 100vw;
}
.float {
  /* height: 84vh;
  width: 80vw; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #22222266;
  backdrop-filter: blur(9px);
  border-radius: 20px;
  transition: 1s;
  /* position: fixed; */
}

body {
  overflow-x: hidden;
  background: url(assets/images/hero-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-title {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  letter-spacing: 1.1px;
}

.nav-text {
  font-family: poppins;
}

.hero-content {
  font-family: PublicaSans;
}

section {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: transparent;
}
main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
/* Scroll Indicator Bar */
#scrollIndicator {
  position: fixed;
  top: 50%;
  transform: translate(0,-50%);
  left: 5%;
  width: 10px;
  height: 80vh;
  border-radius: 20px;
  border-top: 12px solid #fff;
  border-bottom: 32px solid #fff;
  background: #fff;
}

#scrollIndicator .progress {
  width: 21px;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  height: calc(100% / 4);
  background: #385938; /* Gradient for the progress */
  /* border: 1px solid black; */
  border-radius: 8px;
  transition: height 0.3s ease-out;
  transition: 0.5s;
  position: fixed;
}

#scrollIndicator .progress:hover {
  background: #235923; /* Gradient for the progress */
  cursor: pointer;
}
