@import "https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css";
@import "https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-duotone-solid.css";
@import "https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-thin.css";
@import "https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-solid.css";
@import "https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-regular.css";
@import "https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-light.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@font-face {
    font-family: Thrifty;
    src: url("Fontspring-DEMO-thrifty-regular.otf") format("opentype");
}

@font-face{
    font-family: PublicaSans;
    src: url("PublicaSansRound-Thin.otf") format("opentype");
}